html {
    height: 100%;
    background-color: #f9f9f9;
}

body {
    width: 70vw;
    margin: auto auto 1em;
    font-family: 'Open Sans', sans-serif;
}

/* Red background */
.bg-red {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    z-index: -1;
    background-color: #f03743;
    background-size: 25vh 100vw;
}

nav {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    margin: 1em auto 2em;
}

/* Left side of nav */
.name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.name p {
    text-transform: uppercase;
    font-weight: bold;
}

.fa-briefcase {
    margin: 0.5em;
    font-size: 1.5em;
}

/* Right side of nav */
.links {
    width: 50%;
}

.links ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.links li {
    list-style-type: none;
    margin: auto 1em;
}

.links a {
    text-decoration: none;
    color: #ffffff;
}

/* Main content */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo img {
    border-radius: 5px;
    width: 20vw;
}

.about {
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    width: 48vw;
    padding: 1em 2em;
    background-color: #ffffff;
}

.about h1 {
    color: #f03743;
    font-weight: 900;
}

.about p {
    line-height: 2;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.skills li {
    list-style-type: none;
    margin-right: 1em;
    margin-top: 1em;
    border: 1px solid #EAEAEA;
    border-radius: 50px;
    padding: 0.75em;
}

@media only screen and (max-width: 600px) {
    body {
        width: 80vw;
    }
    .name, .links {
        width: 100%;
    }
    .links ul {
        justify-content: flex-start;
    }
    .photo, .about {
        text-align: center;
        margin: auto;
    }
    .photo img, .about {
        width: 75vw;
    }
    .about {
        margin-top: 1em;
    }
    .about h1, .about p {
        text-align: left;
    }
}